h1 {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 900;
}

.skills {
  display: flex;
  gap: 7rem;
  padding: 0 50px;
  padding-bottom: 7rem;

  .ratings {
    width: 40%;

    div {
      margin: 30px 0;
      footer {
        background-color: rgb(58, 58, 58);
        height: 5px;
        border-radius: 2px;

        div {
          height: 100%;
          border-radius: 2px;
          
          &.front {
            width: 80%;
            background-color: #00cfee;
            box-shadow: 0 0 8px #00cfee;
          }

          &.ionic {
            width: 55%;
            background-color: #5dadec;
            box-shadow: 0 0 8px #5dadec;

          }

          &.angular {
            width: 65%;
            background-color: #fa3165;
            box-shadow: 0 0 8px #fa3165;

          }

          &.react {
            width: 85%;
            background-color: #ff0279;
            box-shadow: 0 0 8px #ff0279;

          }

          &.back {
            width: 80%;
            background-color: #e4007c;
            box-shadow: 0 0 8px #e4007c;

          }
        }
      }
    }
  }

  .icons{

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    .top{
      padding-top: 4rem;
    }
    
    .top, .bot, .mid{
      display: flex;
      justify-content: space-between;
      gap: 4rem;

      img{
        height: 60px;
        width: auto;
        transition: transform 0.2s;
      }

      img:hover{
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 770px) {

  h1{
    margin-left: 3rem;
    font-size: 2rem;
  }

  .skills{
    flex-direction: column;
    gap: 5rem;

    .ratings{
      width: 100%;

      div{
        margin: 1.2rem 0;
      }
    }

    .icons{
      .top{
        padding-top: 1rem;
      }

      .top, .mid, .bot{
        gap: 1.5rem;

        img{
          height: 40px;
          width: auto;
        }
      }
    }
  }
}
