<h1>SKILLS</h1>
<div class="skills">
    <div class="ratings">
        <div>
            <h2>Front End</h2>
            <footer>
                <div class="front"></div>
            </footer>
        </div>
        <div>
            <h2>Ionic</h2>
            <footer>
                <div class="ionic"></div>
            </footer>
        </div>
        <div>
            <h2>Angular</h2>
            <footer>
                <div class="angular"></div>
            </footer>
        </div>
        <div>
            <h2>React</h2>
            <footer>
                <div class="react"></div>
            </footer>
        </div>
        <div>
            <h2>Back End</h2>
            <footer>
                <div class="back"></div>
            </footer>
        </div>
    </div>
    <div class="icons">.</div>
</div>