.container {
  display: flex;
  flex-direction: column;
  padding-top: 70px;

  h1 {
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 900;
  }

  .contact {
    display: flex;
    justify-content: center;

    .form {
      width: 50vw;
      height: 40vh;
      border-radius: 10px;
      padding: 4rem;
      background-color: #1d1d1d;

      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .name,
        .email {
          width: 48%;

          mat-form-field {
            font-size: 20px;
            width: 100%;

          }
        }
      }

      .message {
          width: 100%;

        mat-form-field {
            width: 100%;
            font-size: 15px;

            textarea{
              resize: none;
            }
        }
      }

      .button{
        color: greenyellow;
        background-color: #1d1d1d;
        border: 1px solid greenyellow;
      }
    }
  }
}
