.navbar{
    display: flex;
    justify-content: space-between;
    height: 6.25rem;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%;
    background: #1d1d1d;
    z-index: 100;


    .logo{
        margin-left: 3.75rem;
        font-size: 3.75rem;
        font-weight: 900;
        color: yellowgreen;
        transform: rotate(-10deg);
        text-shadow: 0 0 15px greenyellow;
        text-decoration: none;
        }

    .right{
        display: flex;
        gap: 3.75rem;
        margin-right: 3.75rem;
        align-items: center;

        div{
            cursor: pointer;
        }
    }

    .about{
        color: #fff;
        text-decoration: none;
    }

    .contact{
        color: greenyellow;
        text-decoration: none;
        border: 1px solid greenyellow;
        padding: 0.625rem 1.563rem;
        transition: 0.3s;
    }

    .contact:hover{
        background-color: greenyellow;
        color: #1d1d1d;
        box-shadow: 0 0 8px greenyellow;
        transition: 0.3s;
    }
}
