.about {
  padding-top: 120px;
  margin: 0 50px;

  .container {
    display: flex;
    align-items: center;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 900;
  }
  .description {
    .content {
      width: 80%;
      font-size: 18px;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 20px;

      a {
        color: greenyellow;
        text-decoration: none;
        font-weight: 400;
        vertical-align: middle;
        transition: 0.3s;
      }

      a:hover {
        padding-left: 3px;
        font-size: 19px;
        transition: 0.3s;
      }
    }
  }

  img {
    width: 40vw;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 770px) {


  .title{
    line-height: 4rem;
  }
  .container{
    flex-direction: column;

    .description{
      .content{
        width: 100%;
      }
    }

    img{
      width: 70vw;
      height: auto;
    }
  }

}
