<div class="home">
  <div class="circle" [ngStyle]="{ top: posY, left: posX }"></div>
  <div class="first-section">
    <img src="assets/foto-perfil.jpg" alt="" class="image"/>
    <div class="description">
      <h1 class="hi">Hi,</h1>
      <div class="name">
        <div class="im"><h1>I'm</h1></div>
        <div class="t"><h1>T</h1></div>
        <div class="rest-name"><h1>omás</h1></div>
        <div><h1>,</h1></div>
      </div>
      <div class="slider">
        <div class="first">
          <h1>FrontEnd</h1>
        </div>
        <h1>Mobile</h1>
        <h1>Angular</h1>
        <h1>Ionic</h1>
        <h1>React</h1>
        <h1>FrontEnd</h1>
      </div>
      <h1 class="developer">developer</h1>
    </div>
  </div>
  <div class="scroll" id="scroll">
    <span>scroll down →</span>
    <span>scroll down →</span>
  </div>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-certifications></app-certifications>
  <app-contact></app-contact>
  <div class="padding-bot"></div>
</div>
