.circle {
  position: absolute;
  width: 37.5rem;
  height: 37.5rem;
  background: url("/assets/fondo-codigo.jpeg") 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  mask-image: radial-gradient(circle at center, black, transparent);
  -webkit-mask-image: radial-gradient(
    black,
    transparent,
    transparent,
    transparent
  );
  animation: appearCircle 5s;
  z-index: -1;
  opacity: 0.5;
}

.home {
  padding-top: 7.5rem;

  .first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;

    img {
      height: 20rem;
      border-radius: 50%;
      border: 5px solid #fff;
      animation-name: appearPhoto;
      animation-duration: 2s;
    }

    .description {
      h1 {
        padding-top: 3.438rem;
        font-size: 5.625rem;
        font-weight: 900;
        animation-name: appearTitle;
        animation-duration: 2s;

        &.developer {
          padding-top: 2rem;
        }

        &.hi {
          font-size: 3.75rem;
          animation: appearHi 2s;
        }
      }

      .name {
        display: flex;

        .im {
          padding-right: 2rem;
        }

        .t {
          transform: rotate(-10deg);
          margin-right: -0.25rem;
          margin-top: -0.438rem;

          h1 {
            font-size: 6.875rem;
            color: greenyellow;
            animation: appearT 2s;
            text-shadow: 0 0 15px greenyellow;
          }
        }

        .rest-name{
          color: greenyellow;
        }
      }
    }
  }

  .scroll {
    margin: 8.75rem 2.5rem;
    display: flex;
    justify-content: space-between;
    height: 5.625;

    span {
      writing-mode: vertical-lr;
      animation: bounce 0.7s infinite alternate;
    }
  }
}

@keyframes appearTitle {
  from {
    opacity: 0;
    font-size: 1px;
  }
  to {
    opacity: 1;
    font-size: 5.625rem;
  }
}

@keyframes appearHi {
  from {
    opacity: 0;
    font-size: 1px;
  }
  to {
    opacity: 1;
    font-size: 3.75rem;
  }
}

@keyframes appearT {
  from {
    opacity: 0;
    font-size: 1px;
  }
  to {
    opacity: 1;
    font-size: 6.875rem;
  }
}

@keyframes appearPhoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearCircle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes bounce {
  from {
    margin-top: -1.25rem;
  }
  to {
    margin-top: 0;
  }
}

.slider {
  display: flex;
  width: 25rem;
  overflow: hidden;

  h1 {
    min-width: 25.2rem;
    margin-bottom: 2.313rem;
    font-weight: 300 !important;
    font-style: italic;
  }

  .first {
    animation: slide 7s 2s infinite linear;
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -25.1rem;
  }
  35% {
    margin-left: -25.1rem;
  }
  40% {
    margin-left: -50rem;
  }
  55% {
    margin-left: -50rem;
  }
  60% {
    margin-left: -75.6rem;
  }
  75% {
    margin-left: -75.6rem;
  }
  80% {
    margin-left: -100.8rem;
  }
  95% {
    margin-left: -100.8rem;
  }
  100% {
    margin-left: -126rem;
  }
}
